pipeline/ImportSTFormatFolder.json
{
	"name": "ImportSTFormatFolder",
	"properties": {
		"activities": [
			{
				"name": "Import sales data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.WildcardFolderPath",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.WildcardFileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.sales_LOAD",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesMonth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesValueUSD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "UnitsSold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunSeqNo",
									"type": "String"
								},
								"sink": {
									"name": "RunSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV_SweetTreats",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import sales data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.FilesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.RowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.RowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": "@utcnow()",
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Done",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline,' executed in ',pipeline().DataFactory)\n",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLTables",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "gg"
						}
					}
				}
			},
			{
				"name": "Set RunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@int(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set return value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "PipelineRunSeqNo",
							"value": {
								"type": "Expression",
								"content": "@variables('RunSeqNo')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"WildcardFolderPath": {
				"type": "string"
			},
			"WildcardFileName": {
				"type": "string",
				"defaultValue": "*.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "Integer",
				"defaultValue": -1
			}
		},
		"folder": {
			"name": "ADFByExample/Chapter5"
		},
		"annotations": []
	}
}