pipeline/ImportSTFormatFile_Divert.json
{
	"name": "ImportSTFormatFile_Divert",
	"properties": {
		"activities": [
			{
				"name": "Import sales data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorage1",
								"type": "LinkedServiceReference"
							},
							"path": "output/errors"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Retailer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesMonth",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SalesValueUSD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "UnitsSold",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RunSeqNo",
									"type": "String"
								},
								"sink": {
									"name": "RunSeqNo",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sampledata",
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"LinkedServiceConnectionSecret": "dtlSecret",
							"EscapeCharacter": "\\",
							"fileName": "Airlines.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If rows skipped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.LogPipelineEnd",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.FilesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.RowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.RowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Done",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdfByExample",
					"type": "LinkedServiceReference",
					"parameters": {
						"domainname": "ssql-adfbe.database.windows.net",
						"Username": "afara",
						"Password": "Nourou27",
						"dbName": "ASQL_ADFBE"
					}
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ',pipeline().Pipeline,' executed in ',pipeline().DataFactory)\n",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLTables",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "gg"
						}
					}
				}
			},
			{
				"name": "Set RunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@int(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set return value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "PipelineRunSeqNo",
							"value": {
								"type": "Expression",
								"content": "@variables('RunSeqNo')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Log pipeline failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import sales data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If rows skipped",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\nactivity('Import sales data').output.rowsSkipped\n, 0\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@join(skip(split(activity('Import sales data').output.logFilePath, '/'), 1), '/')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Timestamp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Timestamp",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "Level",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Level",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OperationName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OperationName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OperationItem",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OperationItem",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Message",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Message",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ABS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Container": "output",
										"Directory": ".",
										"LinkedServiceConnectionSecret": "dtlSecret",
										"EscapeCharacter": "\"",
										"fileName": "Airlines.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLTables",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "LoadingError"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import sales data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]",
					"storedProcedureParameters": {
						"runSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdfByExample",
					"type": "LinkedServiceReference",
					"parameters": {
						"domainname": "ssql-adfbe.database.windows.net",
						"Username": "afara",
						"Password": "Nourou27",
						"dbName": "ASQL_ADFBE"
					}
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main/SampleData/NaughtyButNice"
			},
			"File": {
				"type": "string",
				"defaultValue": "NBN-202006.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "Integer",
				"defaultValue": -1
			}
		},
		"folder": {
			"name": "ADFByExample/Chapter6"
		},
		"annotations": []
	}
}